@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src:
    url('./fonts/karlamedium.woff2') format('woff2'),
    url('./fonts/karlamedium.woff') format('woff'),

}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/karlabold.woff2') format('woff2'),
    url('./fonts/karlabold.woff') format('woff'),

}

@font-face {
  font-display: swap;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/dmserifdisplayregular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', 'Arial', sans-serif;
  font-weight: 700;
  margin: 0;

}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.site-header {
  position: relative;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}

.open-menu .header-right {
  display: flex;
}

.open-menu .header-btn {
  background-image: url("./images/close-btn.svg");
}

.header-btn {
  width: 32px;
  height: 32px;
  background-image: url("./images/open-btn.svg");
  background-repeat: no-repeat;
  border: none;

}

.unscroll {
  overflow: hidden;
}

.header-right {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  padding-top: 24px;
  /* width: 100vh; */
  background-image: url("./images/nav-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  /* margin-right: 33px; */
}

.nav-item {
  margin-bottom: 24px;
}

.nav-item-link {
  font-size: 20px;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #fff;
  font-weight: bold;
}

.nav-plans {
  text-align: center;
  letter-spacing: 1.5px;
  padding: 12px 20px 13px;
  width: 232px;
  border: 1.5px solid #fff;
}

.hero {
  background-color: #2d2641;
  background-image: url("./images/herobg.svg");
  background-repeat: no-repeat;
  background-position: right bottom 50px;
}


.hero-pic {
  display: block;
  width: 100%;
  height: auto;
}

.hero-line {
  display: none;
}

.hero-infos {
  width: 100%;
  text-align: center;
  padding-block: 70px;
}

/* .hero-inner::before {
  content: "";
  position: absolute;
  background-image: url("./images/family.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
} */

.hero-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #fff;
  font-family: DM Serif Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 64px; */
  letter-spacing: -1px;
}

.hero-desc {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-link {
  border: 1.5px solid #fff;
  width: 146px;
  display: inline-block;
  padding: 13px 20px 12px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

.sections-wrapper {
  background-image: url("./images/mainbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top 0;
}

.different-inner {
  /* padding: 305px 0 158px; */
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.differ-line {
  width: 130px;
  display: inline-block;
  height: 1px;
  background-color: #c396c6;
  margin-bottom: 30px;
}

.differ-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #2c2830;
  font-family: DM Serif Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -1px;
}

.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  /* margin-right: 30px; */
}

.info-item:first-child::before {
  content: "";
  background-image: url("./images/energy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 86px;
  height: 86px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
}

.info-item:nth-child(2)::before {
  content: "";
  background-image: url("./images/dollar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 86px;
  height: 86px;
  margin: auto;
  margin-bottom: 32px;
}

.info-item:last-child::before {
  content: "";
  background-image: url("./images/man.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 86px;
  height: 86px;
  margin: auto;
  margin-bottom: 32px;
}

.item-title {
  margin-top: 0;
  margin-bottom: 16px;
  color: #2c2830;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.389px;
}

.item-desc {
  color: #837d88;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
}

.work-inner {
  background-image: url("./images/workbg.png");
  background-repeat: no-repeat;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 140px;
}

.title-wrapper {
  width: 100%;
}

.work-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-family: 'DM Serif Display';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 56px; */
  /* letter-spacing: -0.778px; */
}

.work-link {
  width: 160px;
  border: 1.5px solid #fff;
  padding: 13px 20px 12px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

.site-footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #fafafa;
  background-image: url("./images/footerimg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  border-bottom: 1px solid #dadada;
  padding-bottom: 33px;
  margin-bottom: 48px;

}

.social-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 20px;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.footer-links-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.links-item {
  margin-bottom: 40px;
}

/* .links-item:first-child {
  margin-right: 174px;
}

.links-item:nth-child(2) {
  margin-right: 168px;
}

.links-item:nth-child(3) {
  margin-right: 206px;
} */

.item-name {
  color: #837d88;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 36px;
}

.link {
  color: #2d2641;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
}

.foot-item:not(:last-child) {
  margin-bottom: 16px;
}

/* MEDIA QUERY */

@media only screen and (min-width:576px) {
  .header-btn {
    display: none;
  }

  .header-right {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 0;
    align-items: center;
    background-image: none;
    padding: 20px 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-item {
    margin-right: 20px;
    margin-bottom: 0;

  }

  .nav-item-link {
    color: #837d88;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-bottom: 0;
  }

  .footer-links-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .links-item {
    margin-right: 80px;
  }

  .links-item:nth-child(even) {
    margin-right: 0;
    margin-left: 80px;
  }

  .nav-plans {
    text-align: center;
    color: #2c2830;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 8px 10px 9px;
    width: 100px;
    border: 1.5px solid #2c2830;
    background: #fff;
  }

}


@media only  screen and (min-width:593px) {
  .footer-start{
    flex-direction: row;
    justify-content: space-between;
  }
  .end {
    display: block;
  }
  .footer-links-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .links-item {
    margin-right: 0;
  }
  .links-item:nth-child(even){
    margin-left: 0;
  }
  
}

@media only  screen and (min-width:700px){
  .hero-inner {
    padding-top: 80px;
    padding-bottom: 90px;
    position: relative;
  }

  .hero-pic {
    display: none;
  }

  .hero-line {
    width: 130px;
    display: inline-block;
    border: 1px solid #fff;
    margin-bottom: 33px;
  }

  .hero-infos {
    padding: 0;
    width: 340px;
    text-align: left;
  }

  .hero-infos::after {
    content: "";
    position: absolute;
    background-image: url("./images/family.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 410px;
    right: 0;
    top: 105px;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'DM Serif Display';
    font-size: 42px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -1px;
  }
  .sections-wrapper {
    background-size: contain;
    background-position: left -350px top -250px;
  }
  .differ-title {
    font-size: 42px;
  }
  .item-title {
    font-size: 30px;
  }
  .item-desc {
    font-size: 16px;
  }


}

@media only screen  and (min-width:768px){
  .info-list {
    flex-direction: row;
  }
  .info-item:not(:last-child) {
    margin-right: 20px;
  }
  .item-title {
    font-size: 25px;
  }
  .item-desc {
    font-size: 14px;
  }
  .work-inner {
    padding-right:80px ;
    padding-left: 80px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .title-wrapper {
    text-align: left;
    max-width: 300px;
    width: 100%;
  }
  .link-hover:hover {
    color: #2c2830;
    background-color: #fff;
  }
}

@media only screen and (min-width:1000px) {

  .container {
    padding: 0 20px;
  }

  .header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 19px;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 33px;
  }

  .nav-item {
    margin-right: 25px;
  }

  .nav-item-link {
    color: #837d88;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.5px;
  }
  .nav-item-link:hover {
    color: #2c2830;
  }

  .nav-plans {
    text-align: center;
    color: #2c2830;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 12px 20px 13px;
    width: 146px;
    border: 1.5px solid #2c2830;
    background: #fff;
  }
  .nav-plans:hover {
    color: #fff;
    background-color: #2C2830;
  }

  .hero {
    background-color: #2d2641;
    background-image: url("./images/herobg.svg");
    background-repeat: no-repeat;
    background-position: right top;
  }

  .hero-inner {
    padding-top: 105px;
    padding-bottom: 127px;
    position: relative;
  }

  .hero-pic {
    display: none;
  }

  .hero-line {
    width: 150px;
    display: inline-block;
    border: 1px solid #fff;
    margin-bottom: 63px;
  }

  .hero-infos {
    max-width: 450px;
    width: 100%;
    /* width: 540px; */
    text-align: left;
  }

  .hero-infos::after {
    content: "";
    position: absolute;
    background-image: url("./images/family.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 440px;
    height: 550px;
    right: 0;
    top: 105px;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
    font-family: 'DM Serif Display';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
  }

  .hero-desc {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .hero-link {
    border: 1.5px solid #fff;
    width: 146px;
    display: inline-block;
    padding: 13px 20px 12px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
  }

  .sections-wrapper {
    background-image: url("./images/mainbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left -250px top -150px;
  }

  .different-inner {
    padding: 270px 0 158px;
    align-items: start;
  }

  .differ-line {
    width: 150px;
    display: inline-block;
    height: 1px;
    background-color: #c396c6;
    margin-bottom: 63px;
  }

  .differ-title {
    margin-top: 0;
    margin-bottom: 96px;
    color: #2c2830;
    font-family: 'DM Serif Display';
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
  }

  .info-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .info-item {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-right: 30px;
    text-align: left;
  }

  .info-item:first-child::before {
    content: "";
    background-image: url("./images/energy.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    text-align: left;
    margin-left: 0;
  }

  .info-item:nth-child(2)::before {
    content: "";
    background-image: url("./images/dollar.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    margin-left: 0;

  }

  .info-item:last-child::before {
    content: "";
    background-image: url("./images/man.svg");
    background-repeat: no-repeat;
    display: inline-block;
    width: 86px;
    height: 86px;
    margin-bottom: 32px;
    margin-left: 0;

  }

  .item-title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #2c2830;
    font-family: DM Serif Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.389px;
  }

  .item-desc {
    color: #837d88;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
  }

  .work-inner {
    background-image: url("./images/workbg.png");
    background-repeat: no-repeat;
    padding: 69px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
  }

  .title-wrapper {
    max-width: 475px;
    width: 100%;
  }

  .work-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'DM Serif Display';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.778px;
    text-align: left;
  }

  .work-link {
    border: 1.5px solid #fff;
    padding: 13px 20px 12px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
  }

  .site-footer {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #fafafa;
    background-image: url("./images/footerimg.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .footer-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dadada;
    padding-bottom: 33px;
    margin-bottom: 48px;

  }

  .social-list {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: start;
  }

  .footer-links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .links-item:first-child {
    margin-right: 174px;
  }

  .links-item:nth-child(2) {
    margin-right: 168px;
  }

  .links-item:nth-child(3) {
    margin-right: 206px;
  }

  .item-name {
    color: #837d88;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    margin-top: 0;
    margin-bottom: 36px;
  }

  .link {
    color: #2d2641;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
  }



}
@media only screen and (min-width:1100px) {
  .hero-infos {
    max-width: 540px;
  }
  .hero-infos::after {
    width: 540px;
    height: 640px;
  }
  .hero-title {
    font-size: 72px;
  }
  .differ-title {
    font-size: 72px;
  }
}
